body {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #fff0f1;
}

h1 { 
    font-family: "Playfair Display", serif;
    font-size: x-large;
}

h2 {
    font-family: "Playwrite NG Modern", cursive;
    font-weight: 200;
}


.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.05em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letters {
    display: inline-block;
    line-height: 1em;
  }

nav {
    background-color: #ff4b4b;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 115%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
    font-weight: 600;
}

nav ul li a:hover {
    color: #000000;
    font-weight: 600;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Center the content horizontally */
}

.images:first-of-type {
    margin-top: 50px;
}

.images {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.section img {
    display: none;
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}


.buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.buttons .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}
.buttons .section h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Playwrite NG Modern", cursive;
    font-weight: 200;
}

.buttons .button-group {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal-width columns */
    gap: 10px;
    width: 100%;
    height: 100%; /* Ensure the grid container fills the available space */
}

.buttons .button-group button {
    background-color: #0f215d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    
    display: flex;
    align-items: center; /* Vertically center the button text */
    justify-content: flex-start; /* Align text to the left */
    height: 100%; /* Make each button fill the full height of the grid cell */
    width: 100%; /* Ensure the button fills the grid cell horizontally */
}

.buttons .button-group button:hover {
    background-color: #2f499e;
}
 .extra-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.extra-buttons button {
    font-family: "Nunito", sans-serif;
}

.extra-buttons button {
    background-color: #FF5656;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}
.extra-buttons button:hover {
    background-color: #FF7878;
}
.buttons .section select {
    display: none;
    background-color: #0a075a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-family: "Nunito", sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.gallery img {
    width: 250px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}


@media only screen and (max-width: 1366px) {
    .buttons .button-group {
        grid-template-columns: 1fr;
    }
    

    .ml11 {
        font-size: 3em;
        text-align: center; 
    }
}

@media only screen and (max-width: 932px) {
    .content {
        flex-direction: column;
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 80px;
    }
    .images, .buttons {
        width: 100%;
    }
    .buttons .button-group {
        display: none;
    }
    .buttons .section select {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0; 
    }

}